* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style-type: none;
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Vazir-Thin.eot");
  src: url("fonts/Vazir-Thin.woff") format("woff"),
    url("fonts/Vazir-Thin.ttf") format("ttf"),
    url("fonts/Vazir-Thin.woff2") format("woff2");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Vazir-Light.eot");
  src: url("fonts/Vazir-Light.woff") format("woff"),
    url("fonts/Vazir-Light.ttf") format("ttf"),
    url("fonts/Vazir-Light.woff2") format("woff2");
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Vazir-Regular.eot");
  src: url("fonts/Vazir-Regular.woff") format("woff"),
    url("fonts/Vazir-Regular.ttf") format("ttf"),
    url("fonts/Vazir-Regular.woff2") format("woff2");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 950;
  src: url("fonts/Vazir-Black.eot");
  src: url("fonts/Vazir-Black.woff") format("woff"),
    url("fonts/Vazir-Black.ttf") format("ttf"),
    url("fonts/Vazir-Black.woff2") format("woff2");
}

body {
  font-family:vazir;
  font-style: normal;
  font-weight: 300;
  direction: rtl;
}
div,a{
  font-family:inherit;
}

.main {
  width: 60%;
  height: 90%;
  margin: 25px auto;
}
.head {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px auto 10px auto;

  align-items: baseline;
  font-size: 20px;
}
.right span {
  color: #8191e5;
  vertical-align: middle;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}
ul li {
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px 20px #442c2c;
  justify-content: center;
  padding: 10px 20px;
  flex: 20%;
  height: 365px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  gap: 15px;
}
ul li img {
  width: 62%;
  height: 80%;
  margin: 10px auto;
}
.off {
  display: flex;
  justify-content: start;
  gap: 5px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  padding-top: 70px;
}
.left {
  color: #8191e5;
}
.off :first-child {
  width: 30px;
  height: 30px;
  background-color: #e3f2fd;
  color: #197cd6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.off :nth-child(2){
      display: flex;
      justify-content: center;
      align-items: center;
text-decoration:line-through;
}
.price img{
      width: 25px;
      height: 25px;
      vertical-align: middle;

}